<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>FirstWeek</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/app.css}" />
</head>

<body>

    <div class="row">
        <form class="navbar-form navbar-left" role="search" method="get" >
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Make" name="q" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

<br />

<div class="container">

    <div class="row">
        <div class="col-md-8">
            <div class="bike-list">

            <h1>Bikes</h1>
            <table class="table">

                <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Model Year</th>
                    <th>Wheel Size</th>
                    <th>Frame Type</th>
                    <th>Build Kit</th>
                    <th></th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bike : ${bikeList}">
                    <td><a th:text="${bike.make}" th:href="@{'/bike/' + ${bike.id}}">detail view</a></td>
                    <td th:text="${bike.model}"></td>
                    <td th:text="${bike.modelYear}"></td>
                    <td th:text="${bike.wheelSize}"></td>
                    <td th:text="${bike.frameType}"></td>
                    <td th:text="${bike.buildKit}"></td>
                    <td>
                        <a th:href="@{'/edit/' + ${bike.id}}">Edit</a>
                    </td>
                    <td>
                        <!-- Button trigger delete modal -->
                        <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#bikeModal'+${bike.id}">
                            X
                        </button>

                        <!-- Delete Confirmation Modal -->
                        <div class="modal fade" th:id="'bikeModal'+${bike.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">

                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <br/>
                                        <p>Are you sure you want to delete this bike?</p>

                                        <form th:action="@{'/delete/' + ${bike.id}}" method="post">
                                            <input type="submit" value="Delete" class="btn btn-danger btn-xs"/>
                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>

            <!-- Pagination -->
            <div class="text-center">
                <ul class="pagination">
                    <li th:class="${bikeList.number eq 0} ? 'disabled' : ''">
                        <a th:if="${not firstPage}" th:href="@{'?page=' + ${bikeList.number}}">Previous</a>
                        <a th:if="${firstPage}" href="#">Previous</a>
                    </li>
                    <li th:each="pageNo : ${#numbers.sequence(0, bikeList.totalPages - 1)}" th:class="${bikeList.number eq pageNo}? 'active' : ''">
                        <a th:if="${bikeList.number  eq pageNo}" href="#">
                            <span th:text="${pageNo + 1}"></span>
                        </a>
                        <a th:if="${not (bikeList.number  eq pageNo)}" th:href="@{'?page=' + ${pageNo+1}}">
                            <span th:text="${pageNo + 1}"></span>
                        </a>
                    </li>
                    <li th:class="${bikeList.number + 1 ge bikeList.totalPages} ? 'disabled' : ''">
                        <a th:if="${not lastPage}" th:href="@{'?page=' + ${bikeList.number+2}}">Next</a>
                        <a th:if="${lastPage}" href="#">Next</a>
                    </li>
                </ul>
            </div>



        </div>
        <div class="col-md-4 boarder-left">
            <h1>Add Bike</h1>
            <form action="#" th:action="@{/addBike}" th:object="${bike}" method="post">
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label th:for="*{make}">Make</label>
                        <input type="text" th:field="*{make}" class="form-control" required="true" />
                    </div>
                    <div class="form-group col-xs-6">
                        <label th:for="*{model}">Model</label>
                        <input type="text" th:field="*{model}" class="form-control" required="true" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4">
                        <label th:for="*{modelYear}">Model Year</label>
                        <input type="number" min="1900" max="2099" step="1" th:field="*{modelYear}" class="form-control"/>
                    </div>
                    <div class="form-group col-xs-4">
                        <label th:for="*{wheelSize}">Wheel Size</label>
                        <select th:field="*{wheelSize}" class="form-control">
                            <option value='24"'>24"</option>
                            <option value='26"'>26"</option>
                            <option value='27.5"'>27.5"</option>
                            <option value='29"'>29"</option>
                            <option value='700c'>700c</option>
                            <option value='Other'>Other</option>
                        </select>
                    </div>

                    <div class="form-group col-xs-4">
                        <label th:for="*{frameType}">Frame Type</label>
                        <select class="form-control" th:field="*{frameType}">
                            <option value="Hard Tail">Hard Tail</option>
                            <option value="Full Suspension">Full Suspension</option>
                            <option value="Road">Road</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label th:for="*{buildKit}">Build Kit</label>
                    <input type="text" th:field="*{buildKit}" class="form-control"/>
                </div>

                <input type="submit" value="Submit" class="btn btn-success btn-lrg"/>
            </form>
        </div>
    </div>
</div>


</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>